<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>Game Library Collecting</h1>
        <a href="/dashboard">↩ Back</a>
    </div>


    <div class="coverAndInfo">
        <img src="{{game.cover.url}}" alt="No cover art">

        <div class="gameInfo">
            <h1>Title: {{game.name}}</h1>
            <h2>ID: {{game.id}}</h2>
            <h2>Genre: {{game.genres}}</h2>
            <h2>Release Date: {{game.first_release_date}}</h2>
            {{{addGame}}}
        </div>
    </div>

    <h2>Similar Games:</h2>

    <div class="similarGamesBox">
        {{#each game.similar_games}}
            <div class="gameAndTitle">
                <img src="{{this.cover.url}}" alt="No cover art">
                <a href="./{{this.id}}">{{this.name}}</a>
            </div>
        {{/each}}
    </div>
    

    
</body>
</html>